@import "../abstract/variables.scss";

.movie__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10rem;
  gap: 8rem;
}

@media (max-width: 1000px) {
  .movie__grid {
    display: flex;
    flex-direction: column;
  }
}
