@import "../abstract/variables.scss";

.categories__nav {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
  justify-content: space-around;
  padding: 0 30%;

  & a {
    text-decoration: none;
    color: $color-black;
  }
}

@media (max-width: 1096px) {
  .categories__nav {
    padding: 0 25%;
  }
}

@media (max-width: 830px) {
  .categories__nav {
    padding: 0 20%;
  }
}

@media (max-width: 616px) {
  .categories__nav {
    padding: 0 15%;
  }
}
