@import "../abstract/variables.scss";

.trailer {
  width: 30rem;
  height: 20rem;
  border-radius: 2rem;
  margin-top: -12%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2rem;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7) 20%,
        rgba(0, 0, 0, 0) 40%
      ),
      linear-gradient(to top, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0) 40%);
    pointer-events: none;
  }

  &__poster {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  &__details {
    position: absolute;
    bottom: 2rem;
    left: 3rem;
    color: $color-white;
    font-size: 1.8rem;
    font-weight: 600;

    &--button {
      background-color: transparent;
      border: none;
      margin-bottom: 1rem;

      &:hover {
        cursor: pointer;
      }
    }

    &--icon {
      color: $color-red;
      font-size: 2.5rem;
      background-color: $color-white;
      border-radius: 50%;

      &:hover {
        font-size: 3rem;
      }
    }
  }
}
